body {
  background-color: lightgray;
}
.block {
  width: 50%;
  margin: 50px;
  border: 3px solid black;
  padding: 20px;
  display: block-inline;
}
.inline {
  width: 50%;
  margin: 50px;
  border: 3px solid black;
  padding: 20px;
  display: inline;
}
.inline-block {
  width: 50%;
  margin: 50px;
  border: 3px solid black;
  padding: 20px;
  display: block;
}
.wrapper {
  background-color: #ffffff;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 0;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.none {
  /* float: left; */
  margin: 10px;
}
.left {
  float: left;
  margin: 10px;
}
.right {
  float: right;
  margin: 10px;
}
h1,
h3 {
  margin: 20px;
}

.box {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
.green {
  background-color: green;
}

.blueright {
  float: right;
  background-color: blue;
}
.greenright {
  background-color: green;
  float: right;
}
.redright {
  background-color: red;
  float: right;
}
.boxes::after {
  content: "";
  clear: both;
  display: block;
}
.service {
  position: relative;
  float: left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  background-color: black;
  color: white;
}
.services{
    max-height: 150px;
    overflow: hidden;
}
.service-rel {
  position: relative;
  float: left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  background-color: black;
  color: white;
}
.service-rel:nth-child(1) {
  top: 10px;
}
.service-rel:nth-child(2) {
  top: 20px;
}
.service-rel:nth-child(3) {
  top: 30px;
}
.services::after {
  content: "";
  clear: both;
  display: block;
}
.content {
  clear: both;
  background-color: aquamarine;
  color: black;
  margin: 20px 1%;
  padding: 1%;
  margin: 1%;
}

aside,
section {
  float: left;
  width: 46%;
  background-color: lightslategray;
  color: white;
  padding: 1%;
  margin: 1%;
}
.column::after {
  clear: both;
  display: block;
  content: "";
}
.content p {
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -webkit-column-rule: 1px solid black;
  text-align: justify;
}
#banner img {
  width: 100%;
  max-height: 300px;
  margin: 1%;
}
#banner h2 {
  position: absolute;
  top: 250px;
  margin: 1%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  font-size: 25px;
  font-weight: 800;
  z-index: 2;
}
nav {
  background-color: blueviolet;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
nav::after {
  content: "";
  display: block;
  clear: both;
}

nav li {
  color: white;
  float: right;
  padding: 1%;
  margin: 10 0px;
  list-style: none;
}
