body {
    background-color: lightgray;
}
.block{
    width: 50%;
    margin: 50px;
    border: 3px solid black;
    padding: 20px;
    display: block-inline;
}
.inline
{
    width: 50%;
    margin: 50px;
    border: 3px solid black;
    padding: 20px;
    display: inline;
}
.inline-block{
    width: 50%;
    margin: 50px;
    border: 3px solid black;
    padding: 20px;
    display: block;
}
.wrapper {
    background-color: #ffffff;
max-width: 960px;
margin: 0 auto;
padding: 20px
}

.wrapper:after
{
    content: "";
    display:  block;
    clear: both;
}

.none {
    /* float: left; */
    margin: 10px;
}
.left {
    float: left;
    margin: 10px;
}
.right {
    float: right;
    margin: 10px;
}
h1,h3{
    margin: 20px;
}

.box {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color:blue;
}
.green {
    background-color:green;
}

.blueright {
    float: right;
    background-color:blue;
}
.greenright{
    background-color:green;
    float: right;
}
.redright {
    background-color: red;
    float: right;
}
.boxes::after{
    content: "";
    clear: both;
    display: block;
}
.service {

    float: left;
    width: 29.33%;
    margin: 1%;
    padding:  1%;
    background-color: black;
    color: white;
}
.content
{
    clear: both;
    background-color: aquamarine;
    color: black;
    margin : 20px 1%;
}

aside,section {
    float: left;
    width: 46%;
    background-color: lightslategray;
    color:white;
    padding: 1%;
    margin: 1%;
}
.column::after {
   clear: both;
   display: block;
   content: "";
}





